* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

}
.container {
    width: 90%;
    max-width: 1000px;
  
    margin: auto;
    overflow: hidden;
}


/*HEADER*/

header {
    background:#33415C ;
    background-position: center;
    max-height: 600px;
}
header .menu {

    margin: 40px 0;
    text-align: right;
}

header .menu a {
    margin: 0 20px;
    color:#fff ;
    padding-bottom: 9px;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

header .menu a:hover { 
    border-bottom: 2px solid #fff;
}

header .container-text {
display: flex;
margin: 190px 0;
justify-content: center;
align-content: center;
}

header .container-text .texto {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;

}
header .container-text .texto h1,
header .container-text .texto h2 {
    color: #fff;
    font-weight: 600;
    margin: 0;

}
header .container-text .texto .nome {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}
header .container-text .texto .profesion {
    
    font-size: 25px;
    line-height: 25px;
}

/*---- ----- Main------ ------*/
.main  .container {
overflow: visible;
}

.main .sobre-min {
text-align: center;
}

.main .sobre-min .img-perfil {

    margin-top: -60px;


}
.main .sobre-min .img-perfil img {
   vertical-align: top;
   border-radius:50%;
   border: 5px solid rgba(255, 255, 255,0.2);
}
.main .sobre-min .texto {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;

}

.main .sobre-min .texto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #33415C;
    text-align: center;
}

.main .trabalhos {
    background:#33415C;
    padding: 60px 0;
}

.main .trabalhos .container {
    overflow: hidden;

}
.main .trabalhos .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.description-trabalhos {
    text-align:center;
    margin-bottom: 40px;
    color: #f2f2f2;
}
.main .trabalhos .container-trabalhos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .trabalhos .container-trabalhos .trabalho {
    width: 23%;
    margin-bottom: 40px;

}
.main .trabalhos .container-trabalhos .trabalho .fotos {
    width: 100%;
    margin-bottom: 10px;
}
.main .trabalhos .container-trabalhos .trabalho .fotos img {
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
}
.description {
    text-align:center;
    margin-top: auto;
    color: #f2f2f2;
    font-weight: 700;
    margin-bottom: 10px;
}

/*---Footer---*/
footer .contato {
    padding: 60px 0;
}

.titulo-footer{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #33415C;
    text-align: center;
    
}

.formulario {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

 .formulario input[type="text"],
 .formulario input[type="email"],
 .formulario textarea
 {
     border:2px solid #cecece;
     border-radius: 5px;
     padding: 15px 20px;
     font-size: 20px;
     color: #33415C;
     
}

/*.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
 border: 4px solid #0466C8;
 }*/
 
.formulario input[type="text"],
 .formulario input[type="email"] {
     width: 49%;
     margin-bottom: 15px;
 }

 .formulario textarea {
     width: 100%;
     height: 100px;
     min-width: 100%;
     max-width: 100%;
     min-height: 100px;
     max-height: 300px;
     margin-bottom: 15px;
 }

 .button {
     margin:auto;
     background:#33415C ;
     color: #ffff;
     border-radius: 3px;
     padding: 15px 40px;
     margin-bottom:50px;
     cursor:pointer;
 }
 .button:hover {
     background:#0466C8 ;
 }

 footer .redes-sociales .container {
     display: flex;
     justify-content: center;
 }
footer .redes-sociales {
    background: #33415C;
    padding: 40px 0;
  
}
footer .redes-sociales img {
    margin: 0 20px;
}
